nav {
  padding: 7px 0;
  background: #fff;
  border-bottom: 1px solid #e7eaef;
  position: fixed;
  z-index: 1;
  width: 100%;

  .container {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 359px) {
    .nav__logo {
      display: none;
    }
  }
}
