body {
  background-color:#f2f2f8;
}

main {
  padding-top: 70px;
}

p {
  margin: 0
}

button, a {
  cursor: pointer;
}


/* Helpers */
.center-h{
  display: flex;
  justify-content: center;
}

.center-v{
  height: 100vh;
  display: flex;
  align-items: center;
  /* background-color: #333; */
}

.text-center {
  text-align: center;
}

.text-meta {
    color: #939393;
}

.icon-btn{
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 6px;
}

.icon-btn:hover{
  background-color: #f2f2f8;
}


@media only screen and (max-width: 768px) {
  
}

/* SUI */

input[placeholder='Search Zone'] {
  background-color:#f2f2f8 !important;
  border: none !important;
}

.container {
  /* padding: 1px 0; */
}

/* .card {
  border-radius: 0 !important;
  background-color: rgba(255 , 255, 255, .9) !important;
} */


/* button, input {
  border-radius: 0 !important;
} */