body {
  background-color: #edeef0;
}

main {
  padding-top: 65px;
}

p {
  margin: 0;
}

button,
a {
  cursor: pointer;
}

input[type="file"] {
  width: 0;
  height: 0;
  opacity: 0;
}

/* Helpers */
.center-h {
  display: flex;
  justify-content: center;
}

.center-v {
  height: 100vh;
  display: flex;
  align-items: center;
  /* background-color: #333; */
}

.text-center {
  text-align: center;
}

.text-meta {
  color: #939393;
}

.icon-btn {
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
}

.icon-btn:hover {
  background-color: #f2f2f8;
}

/* SUI */

input[placeholder="Search Zone"] {
  background-color: #f2f2f8 !important;
  border: none !important;
}

@media only screen and (max-width: 369px) {
  .friends__list__item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem !important;

    .content {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 767px) {
  .ui.container {
    width: auto !important;
    margin-left: 0.1em !important;
    margin-right: 0.1em !important;
  }
}
